@if (invoices$ | async; as invoices) {
  <section class="flex flex-row justify-between items-center">
    <div>
      <h1 class="heading-l text-black dark:text-white">Invoices</h1>
      <p class="body-variant text-theme-grey dark:text-theme-light">{{ invoices.length | invoicesAmount }}</p>
    </div>

    <app-new-button
      appToggleDialog
      [appDialogComponent]="InvoceFormComponent">
      New Invoice
    </app-new-button>
  </section>

  <section class="flex flex-col gap-6 mt-10">
    @for (invoice of invoices; track invoice.id) {
      <app-invoice-card [invoice]="invoice"></app-invoice-card>
    } @empty {
      <app-empty-invoice>Create a new invoice by clicking the <span class="font-bold">New Invoice</span> button and get started</app-empty-invoice>
    }
  </section>
}
