@if (invoices$ | async; as invoices) {
  <section class="flex flex-row justify-between items-center">
    <div class="animate-slide-in-top">
      <h1 class="heading-l text-black dark:text-white">{{ 'TITLE' | translate }}</h1>
      <p class="body-variant text-theme-grey dark:text-theme-light">{{ invoices.length | invoicesAmount }}</p>
    </div>

    <div class="flex gap-4 items-center animate-slide-in-top">
      <app-filter-dropdown></app-filter-dropdown>

      <app-new-button
        appToggleDialog
        [appDialogComponent]="InvoceFormComponent">
        <span class="hidden sm:block">
          {{ 'BUTTONS.NEW_INVOICE' | translate }}
        </span>
      </app-new-button>
    </div>
  </section>

  <section class="flex flex-col gap-6 mt-10 pb-10">
    @for (invoice of invoices; track invoice.id) {
      <app-invoice-card
        class="animate-fade-in"
        [invoice]="invoice">
      </app-invoice-card>
    } @empty {
      <app-empty-invoice>
        {{ 'EMPTY_INVOICE_MESSAGE_START' | translate }} <span class="font-bold">{{ 'EMPTY_INVOICE_MESSAGE_BUTTON' | translate }}</span> {{ 'EMPTY_INVOICE_MESSAGE_END' | translate }}
      </app-empty-invoice>
    }
  </section>
}
