<div class="bg-white rounded-xl p-8 dark:bg-theme-background-dark">
  <div class="flex flex-row justify-between items-center">
    @if (data && data.invoice) {
      <h1 class="heading-m text-theme-black dark:text-white">{{ 'BUTTONS.EDIT' | translate }} {{ data.invoice.id }}</h1>
    } @else {
      <h1 class="heading-m text-theme-black dark:text-white">{{ 'BUTTONS.NEW_INVOICE' | translate }}</h1>
    }

    <app-close-icon
      (click)="closeDialog()"
      class="cursor-pointer text-theme-grey hover:text-theme-slate transition-colors dark:text-theme-grey dark:hover:text-theme-light">
    </app-close-icon>
  </div>

  <form
    class="invoce-form"
    autocomplete="off"
    [formGroup]="form"
    (ngSubmit)="data && data.invoice ? edit() : submit()">
    <h1 class="bills_from heading-s-variant text-theme-primary mt-8">{{ 'FORM.BILLS_FROM' | translate }}</h1>
    @for (control of billsFrom; track control.name) {
      <ng-container
        [ngComponentOutlet]="controlResolver.resolve(control, form) | async"
        [ngComponentOutletInjector]="control.name | controlInjector: control">
      </ng-container>
    }

    <h1 class="bills_to heading-s-variant text-theme-primary mt-8">{{ 'FORM.BILLS_TO' | translate }}</h1>
    @for (control of billsTo; track control.name) {
      <ng-container
        [ngComponentOutlet]="controlResolver.resolve(control, form) | async"
        [ngComponentOutletInjector]="control.name | controlInjector: control">
      </ng-container>
    }

    <h1 class="items heading-s-variant text-theme-grey mt-8">{{ 'FORM.ITEMS_LIST' | translate }}</h1>
    @for (control of itemList; track control.name) {
      <ng-container
        [ngComponentOutlet]="controlResolver.resolve(control, form) | async"
        [ngComponentOutletInjector]="control.name | controlInjector: control">
      </ng-container>
    }

    <div class="buttons flex flex-row gap-4 justify-end">
      @if (data && data.invoice) {
        <app-edit-button (clicked)="discard()">{{ 'BUTTONS.DISCARD' | translate }}</app-edit-button>
        <app-default-button type="submit">{{ 'BUTTONS.SAVE_EDIT' | translate }}</app-default-button>
      } @else {
        <div class="grow">
          <app-edit-button (clicked)="discard()">{{ 'BUTTONS.DISCARD' | translate }}</app-edit-button>
        </div>

        <app-save-button
          type="submit"
          (clicked)="saveAsDraft()">
          {{ 'BUTTONS.SAVE_AS_DRAFT' | translate }}
        </app-save-button>
        <app-default-button type="submit">{{ 'BUTTONS.SAVE' | translate }}</app-default-button>
      }
    </div>
  </form>
</div>
