<header class="sticky top-0 flex flex-row items-center bg-theme-slate gap-6 pr-6 lg:flex-col lg:h-screen lg:p-0 lg:rounded-r-2xl lg:pb-6">
  <div
    class="relative bg-theme-primary h-20 w-20 rounded-r-2xl grid place-content-center before:absolute before:h-10 before:w-full before:bg-theme-primary-accent before:rounded-tl-2xl before:rounded-br-2xl before:bottom-0">
    <img
      class="z-10"
      src="assets/logo.svg"
      alt="logo" />
  </div>

  <app-dark-mode-button class="ml-auto grid place-items-center lg:mt-auto lg:ml-0"></app-dark-mode-button>

  <div class="w-[2px] h-20 bg-[#494E6E] lg:w-full lg:h-[2px]"></div>

  <img
    class="rounded-full w-8 h-8"
    src="assets/image-avatar.jpg"
    alt="avatar" />
</header>
