<div class="flex flex-col gap-2 items-start">
  <label
    class="body-variant block text-light3"
    for="">
    Issue Date
  </label>
  <div class="relative text-light3">
    <input
      cdkOverlayOrigin
      #origin="cdkOverlayOrigin"
      name="" />
    <app-calendar-icon class="absolute top-1/2 -translate-y-1/2 right-4"></app-calendar-icon>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayMinWidth]="230"
  [cdkConnectedOverlayOffsetY]="24"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="backdrop-dropdown"
  (backdropClick)="close()"
  (detach)="close()">
  <app-calendar (sendDate)="setDate($event)"></app-calendar>
</ng-template>
