<label
  class="body-variant block text-light3"
  [for]="control.control.name + (control.index ?? '')">
  {{ control.control.label }}
</label>

<div
  class="control-box relative w-full h-[3em] cursor-pointer"
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin">
  <input
    class="hidden"
    [type]="control.control.value"
    [formControlName]="control.control.name"
    [checked]="control.control.value"
    type="text"
    [id]="control.control.name + (control.index ?? '')" />
  {{ formControl.value }}
  <app-down-arrow-icon class="absolute top-1/2 -translate-y-1/2 right-4 text-primary"></app-down-arrow-icon>
</div>

<div
  appHelpText
  [message]="control.control.helpText ?? ''"
  appValidatorMessage
  [formControlName]="control.control.name"
  ngDefaultControl></div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayMinWidth]="230"
  [cdkConnectedOverlayOffsetY]="24"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="backdrop-dropdown"
  (backdropClick)="close()"
  (detach)="close()">
  <div class="panel z-10 bg-white w-full flex flex-col rounded-xl text-dark3 dark:bg-dark2 dark:text-light1">
    @for (option of getOptions() | async; track option) {
      <p
        class="heading-s py-4 cursor-pointer px-6 border-light1 dark:border-dark1 hover:text-primary transition-colors duration-300"
        (click)="setControlValue(option.value)">
        {{ option.label }}
      </p>
    }
  </div>
</ng-template>
