<label [for]="id">
  {{ control.control.label }}
</label>

<div
  class="control-box relative w-full h-[3em] cursor-pointer"
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin">
  <input
    class="hidden"
    [type]="control.control.value"
    [formControlName]="control.control.name"
    [checked]="control.control.value"
    type="text"
    [id]="id" />
  {{ getOptionLabel(formControl.value) }}
  <app-down-arrow-icon class="absolute top-1/2 -translate-y-1/2 right-4 text-theme-primary"></app-down-arrow-icon>
</div>

<div
  appHelpText
  [message]="control.control.helpText ?? ''"
  appValidatorMessage
  [formControlName]="control.control.name"
  ngDefaultControl></div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayMinWidth]="230"
  [cdkConnectedOverlayOffsetY]="24"
  cdkConnectedOverlayPanelClass="box-shadow"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="backdrop-dropdown"
  (backdropClick)="close()"
  (detach)="close()">
  <div class="panel z-10 bg-white w-full flex flex-col rounded-xl text-theme-black dark:text-theme-light dark:bg-theme-dark">
    @for (option of getOptions() | async; track option) {
      <p
        class="heading-s py-4 cursor-pointer px-6 transition-colors duration-300 border-theme-light hover:text-theme-primary dark:border-theme-darker"
        (click)="setControlValue(option)">
        {{ option.label }}
      </p>
    }
  </div>
</ng-template>
