<div class="w-full flex flex-col gap-6 p-6">
  <h1 class="heading-l dark:text-white">Aliquam porttitor mauris sit amet orci Aenean</h1>
  <h2 class="heading-m dark:text-white">Aliquam porttitor mauris sit amet orci Aenean</h2>
  <h3 class="heading-s dark:text-white">Aliquam porttitor mauris sit amet orci Aenean</h3>
  <h3 class="heading-s-variant dark:text-white">Aliquam porttitor mauris sit amet orci Aenean</h3>

  <p class="body dark:text-white">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet
    viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.
    Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis
  </p>

  <p class="body-variant dark:text-white">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet
    viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
  </p>

  <div class="flex flex-col gap-2">
    <app-new-button>New Invoce</app-new-button>
    <app-default-button>Mark as Paid</app-default-button>
    <app-edit-button>Edit</app-edit-button>
    <app-save-button>Save as Draft</app-save-button>
    <app-delete-button>Delete</app-delete-button>
    <app-add-button></app-add-button>
  </div>
</div>
