@import "@angular/cdk/overlay-prebuilt.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-l {
  @apply text-4xl/8 font-bold tracking-tight
}

.heading-m {
  @apply text-2xl/6 font-bold tracking-tight
}

.heading-s {
  @apply text-base/6 font-bold tracking-tight
}

.heading-s-variant {
  @apply text-base/4 font-bold tracking-tight
}

.body {
  @apply text-sm/5 font-medium
}

.body-variant {
  @apply text-sm/4 font-medium
}

input, select, .control-box {
  @apply relative w-full heading-s-variant outline-theme-primary text-theme-black outline-1 focus-visible:outline bg-white p-4 border-theme-light border-[1px] border-solid rounded-md h-12 dark:bg-theme-dark dark:border-theme-darker dark:text-white
}

label {
  @apply body-variant text-theme-blue dark:text-theme-light
}

.cdk-overlay-pane {
  overflow-y: auto;
}

.backdrop-dropdown {
  background-color: transparent;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(72, 84, 159, .25);
  border-radius: 0.75rem;
}