<fieldset
  class="mb-4 flex flex-col gap-4"
  [formArrayName]="control.control.name"
  appValidatorArrayMessage>
  @if (control.control.label) {
    <legend>{{ control.control.label }}</legend>
  }

  @for (group of formControl.controls; track group; let index = $index) {
    <div [formGroupName]="index">
      @for (control of control.control.controls; track control.name) {
        <ng-container
          [ngComponentOutlet]="controlResolver.resolve(control, parentFormGroup) | async"
          [ngComponentOutletInjector]="control.name | controlInjector: control : group">
        </ng-container>
      }

      <div class="flex flex-col">
        <p class="body-variant text-theme-blue my-1 dark:text-theme-light">Total</p>
        <div class="w-full flex items-center font-bold h-12 text-theme-grey dark:text-theme-light">{{ totalValues[index] | number: '1.2-2' }}</div>
      </div>

      <button
        class="place-self-start mt-9 text-theme-grey hover:text-theme-red transition-colors duration-300 dark:text-theme-light dark:hover:text-theme-red"
        (click)="removeGroup(index)">
        <app-delete-icon></app-delete-icon>
      </button>
    </div>
  } @empty {
    <p class="text-theme-black dark:text-white">There is not items.</p>
  }
</fieldset>

<app-add-button (click)="addGroup()"></app-add-button>
