<form
  [formGroup]="form"
  class="heading-s bg-white dark:bg-theme-darker p-4 flex flex-col items-start gap-2 w-full">
  <div class="flex flex-row items-center gap-2">
    <input
      class="w-4 h-4"
      id="draft"
      value="draft"
      formControlName="status"
      type="radio" />
    <label for="draft">{{ 'STATUS.DRAFT' | translate }}</label>
  </div>
  <div class="flex flex-row items-center gap-2">
    <input
      class="w-4 h-4"
      id="pending"
      value="pending"
      formControlName="status"
      type="radio" />
    <label for="pending">{{ 'STATUS.PENDING' | translate }}</label>
  </div>
  <div class="flex flex-row items-center gap-2">
    <input
      class="w-4 h-4"
      id="paid"
      value="paid"
      formControlName="status"
      type="radio" />
    <label for="paid">{{ 'STATUS.PAID' | translate }}</label>
  </div>
  <div class="flex flex-row items-center gap-2">
    <input
      class="w-4 h-4"
      id="all"
      value="all"
      formControlName="status"
      type="radio" />
    <label for="all">{{ 'STATUS.ALL' | translate }}</label>
  </div>
</form>
